{% extends "base.html.jinja" %}
{% block content %}
    <h1>O autorze</h1>
    <p>Autorem projektu jest <strong>Konrad Kubczyk</strong>, student Informatyki Stosowanej na <a href="https://osm.org/go/0L0PEZw_I--?way=371465818" target="_brank">Uniwersytecie Ekonomicznym w Krakowie</a>. Interesuję się programowaniem, w szczególności tworzeniem i rozwojem aplikacji internetowych, mobilnych oraz stron WWW.</p>
{% endblock content %}