<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ceneo Web Scraper</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
</head>

<body class="d-flex flex-column min-vh-100">
    <header class="sticky-top">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Ceneo Web Scraper</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Przełącz nawigację">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ url_for('index') }}">
                                Strona główna
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ url_for('extract') }}">
                                Pobierz produkt
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ url_for('products') }}">
                                Lista produktów
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ url_for('author') }}">
                                O autorze
                            </a>
                        </li>
                    </ul>
                    <form role="search" class="d-flex" action="{{ url_for('extract') }}" method="POST">
                        <input required type="search" name="product_id" class="form-control me-2 text-white bg-dark" placeholder="ID lub URL produktu..."
                            aria-label="ID lub URL produktu">
                        <button class="btn btn-outline-light" type="submit">Analizuj</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <main class="container-fluid p-3">
        <!--
        <div class="d-flex flex-column d-md-grid gap-3" style="grid-template-columns: 1fr 2fr;">
            <div class="bg-light border rounded-3 p-3">
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                      <a href="#przeglad" class="nav-link active" aria-current="page">
                        <i class="bi bi-lightbulb-fill me-2"></i>
                        Przegląd
                      </a>
                    </li>
                    <li>
                      <a href="#statystyki" class="nav-link link-dark">
                        <i class="bi bi-bar-chart-line-fill me-2"></i>
                        Statystyki
                      </a>
                    </li>
                    <li>
                      <a href="#opinie" class="nav-link link-dark">
                        <i class="bi bi-chat-right-text-fill me-2"></i>
                        Opinie
                      </a>
                    </li>
                    <li>
                      <a href="#pobierz-raport" class="nav-link link-dark">
                        <i class="bi bi-cloud-download-fill me-2"></i>
                        Pobierz raport
                      </a>
                    </li>
                  </ul>
            </div>
            <div class="bg-light border rounded-3 p-3">
                
            </div>
        </div>
        -->
        <div class="container-xxl bg-light border rounded-3 p-3">
                {% block content %}
                    <p>base.html.jinja</p>
                {% endblock content %}
        </div>
    </main>
    <footer class="footer mt-auto py-3 bg-secondary bg-opacity-25 text-muted">
        <div class="container d-flex justify-content-between">
            <p class="mb-0">&copy; Konrad Kubczyk</p>
            <p class="mb-0">Uniwersytet Ekonomiczny w Krakowie</p>
        </div>
    </footer>
</body>

</html>