{% extends "base.html.jinja" %}
{% block content %}
    <h1>Opis projektu</h1>
    <h2>Cel aplikacji</h2>
    <p>Celem aplikacji jest umożliwienie analizy statystyk opinii o produktach, które można znaleźć w serwisie <a href="https://ceneo.pl">Ceneo.pl</a>, w tym:</p>
    <ul>
        <li>odsetków rekomendacji,</li>
        <li>rozkładku ocen,</li>
        <li>liczebności zalet i wad.</li>
    </ul>
    <p>Aplikacja posiada m.in. funkcjonalność generowania wykresów oraz pobierania opinii danego produktu w dowolnym z trzech przyjaznych formatów - CSV, JSON oraz XML. Dzięki tym możliwościom aplikacja może okazać się pomocna w poszukiwaniu sprawdzonych produktów, których cechy najbardziej odpowiadają konsumentowi.</p>
    <h2>Opis działania aplikacji</h2>
    <p>Działanie aplikacji realizowane jest za pomocą następującego przepływu:</p>
    <ol>
        <li>ekstrakcja opinii o wybranym przez użytkownika produkcie,</li>
        <li>przeliczanie statystyk,</li>
        <li>generowanie wykresów,</li>
        <li>zapis uzyskanych opinii,</li>
        <li>zapis podstawowych informacji o produkcie,</li>
        <li>prezentacja zebranych informacji.</li>
    </ol>
    <p>Użytkownik ma możliwość <a href="/extract">wskazania adresu lub identyfikatora interesującego go produktu</a> albo <a href="/products">przeglądania już przeanalizowanych produktów</a>. Po pełnym przetworzeniu informacji o produkcie możliwe jest wyświetlanie jego cech w aplikacji, przeglądanie wykresów, eksport opinii a także opcje zarządzania zapisanymi danymi - aktualizacja oraz usuwanie informacji dotyczących wybranego produktu.</p>
    <h2>Zastosowane biblioteki</h2>
    <ul>
        {% for library in libraries %}
            {{ library }}
        {% endfor %}
    </ul>
    <h2>Zastosowane podejścia</h2>
    <p>W realizacji projektu zostało wykorzystane podejście obiektowe. Kluczowe komponenty, czyli połączenie z bazą danych, obsługa pojedynczej opinii oraz produktu, zostały zaimplementowane w ramach klas zdefiniowanych w odrębnych plikach źródłowych, zapewniając abstrakcję tych elementów i możliwość łatwego wykorzystywania ich w wielu lokalizacjach w programie.</p>
    <hr class="my-5">
    {{ readme_html }}
{% endblock content %}